body {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 25px;
    height: 100dvh;
}

.columnMenu{
    /* height: 100%; */
    background-color: gray;
    width: 450px;
    
}

.posts {
    margin-block: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    height: 50px;
}

.post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    width: 90%;
    background-color: gray;
    padding: 24px;
    border-radius: 12px;
}

.stats {
    min-width: 119px;
    max-width: 119px;
    border-radius: 12px;
    background-color:cadetblue;
    text-align: center;
    padding: 24px;
    flex-grow: 1;
}

.title {
    border-radius: 12px;
    background-color: #ffffff;
    padding: 24px;
    flex-grow: 8;
}
#scroll {
    overflow-x: hidden;
    overflow-y: auto;
    height: 95%;
}
  
#scroll::-webkit-scrollbar {
    width: 12px;
}

#scroll::-webkit-scrollbar-thumb {
    background-color: #1e00ff;
    border-radius: 10px;
    border: 3px solid #ffffff;
}
.user {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block: 15px;
}
.name {
    padding-block: 24px;
    border-radius: 12px;
    background-color: #ffffff;
    width: 250px;
    text-align: center;
    margin: auto;
}

.userContainer {
    padding-block: 24px;
    border-radius: 12px;
    background-color: #ffffff;
    width: 250px;
    text-align: center;
    margin: auto;
}

.bodyStats {
    /* padding-block: 24px; */
    border-radius: 12px;
    background-color: #ffffff;
    width: 250px;
    text-align: center;
    margin: auto;
}

.id {
    color: transparent;
}

.ustdiv  {
    background-color: rgb(194, 194, 194);
    border-radius: 4px 4px 12px 12px;
}